form {
  label {
    display: block;
    font-weight: 400;
    color: #483949;
    margin: 0 0 1em 0;
  }

  input[type="text"], input[type="email"], input[type="password"], select, textarea {
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    width: 100%;
    border-radius: 0.5em;
    border: solid 1px #E5E5E5;
    padding: 1em;
    transition: background-color 0.35s ease-in-out, border-color 0.35s ease-in-out;

    &:focus {
      background: #fff;
      border-color: #df7366;
    }
  }

  input[type="text"], input[type="email"], input[type="password"], select {
    line-height: 1em;
  }

  textarea {
    min-height: 9em;
  }

  ::-webkit-input-placeholder {
    color: #555 !important;
  }

  :-moz-placeholder {
    color: #555 !important;
  }

  ::-moz-placeholder {
    color: #555 !important;
  }

  :-ms-input-placeholder {
    color: #555 !important;
  }

  ::-moz-focus-inner {
    border: 0;
  }
}
