.image {
  position: relative;
  display: inline-block;
  border: 0;
  outline: 0;

  img {
    display: block;
    width: 100%;
  }

  &.fit {
    display: block;
    width: 100%;
  }

  &.featured {
    display: block;
    width: 100%;
  }

  &.left {
    float: left;
    margin: 0 2rem 2rem 0;
  }

  &.centered {
    display: block;
    margin: 0 0 2rem 0;

    img {
      margin: 0 auto;
      width: auto;
    }
  }
}
