section, article {
  margin-bottom: 3rem;

  > :last-child {
    margin-bottom: 0;
  }

  &.special > {
    header, footer {
      text-align: center;
    }
  }
}

.row > {
  section, article {
    margin-bottom: 0;
  }
}

header {
  margin: 0 0 1rem 0;

  > p {
    display: block;
    margin: 1rem 0 2rem 0;
    text-align: inherit;
  }
}

footer {
  margin: 2.5rem 0 0 0;
}
