table {
  width: 100%;

  &.default {
    width: 100%;

    tbody {
      tr {
        border-top: solid 1px #E5E5E5;

        &:first-child {
          border-top: 0;
        }

        &:nth-child(2n+1) {
          background: #fafafa;
        }
      }
    }

    td {
      padding: 0.5rem 1rem 0.5rem 1rem;
    }

    th {
      text-align: left;
      font-weight: 400;
      padding: 0.5rem 1rem 0.5rem 1rem;
    }

    thead {
      border-bottom: solid 2px #E5E5E5;
    }

    tfoot {
      border-top: solid 2px #E5E5E5;
    }
  }
}
