html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @extend %body;
  background-color: $body-bg;
  color: $body-color;
  font-size: 1.6rem;
}

%headings {
  font-family: $headings-font;
}

%headings-bold {
  font-weight: 600;
  line-height: 1.05;
}

%body {
  font-family: $body-font;
  line-height: 3rem;
}

h1 {
  @extend %headings;
  @extend %headings-bold;
  font-size: 5rem;
  letter-spacing: -0.45px;
}

h2 {
  @extend %headings-bold;
  @extend %headings;
  font-size: 4rem;
  letter-spacing: -0.36px;
}

h3 {
  @extend %headings;
  font-size: 3.2rem;
  line-height: 3.6rem;
  letter-spacing: -0.29px;
}